.food-item {
  display: flex;
  justify-content: center; /* Center the image within the item */
  align-items: center; /* Vertically center the image */
  overflow: hidden; /* Ensures that any overflowing image content is hidden */

}

.food-item img {
  width: 100%; /* Makes the image fill the width of its container */
  height: 200px; /* Fixed height to keep all images the same size */
  object-fit: cover; /* Ensures the image covers the container without distortion */
  border-radius: 8px; /* Optional: rounds the corners of the images */
}

.food-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 20px; /* Spacing between grid items */
  padding: 20px; /* Padding around the grid */
}

.item-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  