section {
  background-image: url("/src/components/picture/bg-g.jpeg");
  background-size: cover;
  background-position: center;
  height: 400px;
  min-height: 50vh; /* Makes sure it stretches with viewport height */
}

.title-section-food {
  text-align: center;
  font-size: 30px;
}

.food-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px; /* Uniform spacing between grid items */
  justify-items: center;
}


.food-item {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Ensures no overflowing content */
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff; /* Optional: Adds a clean background */
}

.food-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
