section {
  background-image: url("/src/components/picture/bg-g.jpeg");
  background-size: cover;
  height: 400px;
  min-height: 50vh;
}

.title-section-food {
  text-align: center;
  font-size: 30px;
}

.food-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns with equal spacing */
  column-gap: 30px; /* Adjust spacing between columns */
  justify-items: center; /* Center the content horizontally */
}

.food-item {
  width: 300px; /* Square width */
  height: 300px; /* Square height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Ensure no overflow of content */
  border: 1px solid #ddd; /* Optional border for aesthetic */
  border-radius: 8px; /* Optional rounded corners */
}

.food-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures images fill the container proportionately */
  border-radius: 8px; /* Match container's border radius */
}
