h2 {
  text-align: center;
}

.hotel-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 150px;
  justify-items: center;
}

.hotel-img img {
  width: 100%; /* Makes the image take up the full width of the container */
  height: 250px; /* Set a fixed height for the images */
  object-fit: cover; /* Ensures the image is cropped or resized proportionally */
}
