.title-section-ts {
  text-align: center;
  font-size: 30px;
}

.tourist-spot-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Ensure even spacing for 3 columns */
  column-gap: 30px; /* Adjust column gap as needed */
  justify-items: center; /* Center content horizontally */
}

.spot {
  width: 300px; /* Fixed container width */
  height: 300px; /* Fixed container height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Ensure no overflow of content */
  border: 1px solid #ddd; /* Optional: Add a border for a clean look */
  border-radius: 8px; /* Optional: Rounded corners for aesthetics */
}

.item-name {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #ddd; /* Optional: Add a border for a clean look */
  border-radius: 8px; /* Optional: Rounded corners for aesthetics */

}

.item-pic {
  width: 150px;
  height: 150px;
  object-fit: cover; /* Ensures images fill container proportionately */
  border-radius: 8px; /* Match container's border radius */
}

section {
  background-image: url("/src/components/picture/bg-g.jpeg");
  background-size: cover;
  height: 400px;
}


