section {
  background-image: url("/src/components/picture/bg-g.jpeg");
  background-size: cover;
  background-position: center;
}

.title-section-ts {
  text-align: center;
  font-size: 30px;
}

.tourist-spot-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  justify-items: center;
}

.item-pic img {
  width: 100%; /* Makes sure the image occupies the full width */
  height: 250px; /* Set a fixed height for the images */
  object-fit: cover; /* Ensures the image is cropped or resized proportionally */
}
